@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans), system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;
  --font-serif: var(--font-libre-baskerville), Georgia, serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #302d2d;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px) translateX(0px);
  }
  50% {
    transform: translateY(-10px) translateX(10px);
  }
}

.animate-float {
  animation: float 8s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float 11s ease-in-out 1s infinite;
}

.animate-float-slow {
  animation: float 12s ease-in-out infinite;
}

.animate-bg {
  animation: float 20s ease-in-out 2s infinite;
}
        
#gradient-canvas {
  width:100%;
  height:100%;
  --gradient-color-1: #767cf7; 
  --gradient-color-2: #f879f6; 
  --gradient-color-3: #f2f7f6;  
  --gradient-color-4: #f2f7f6;
}